.distill-site-nav {
  background-color: 	#c71585;
  font-size: 15px;
}


.posts-list .posts-list-caption {
    color:#2e8b57;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


body {
  background-color:#e6e6fa;
}


